.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.dark-mode {
    background-color: black;
    color: white;
}
#backButton {
    margin-right: 8px;
    height: 4vh;
    width: 6vh;
    display: flex;
    justify-content: right;
}
#sunemoji {
    display: flex;
    justify-content: right;
    margin-left: 8px;
    margin-top: 4px;
}
#sunemoji:hover {
cursor: pointer;
}

.blog-line {
    background-color: gray;
    color: black;
    border: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-top: 10px;
}

.blog-posts {
    height: 15vh;
    width: 100vh;
    background-color: rgb(129, 255, 127);
    margin-left: 7vh;
    margin-top: 2vh;
    border: 2px solid black;
}