.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.dark-mode {
    background-color: black;
    color: white;
}
#backButton {
    margin-right: 8px;
    height: 4vh;
    width: 6vh;
    display: flex;
    justify-content: right;
}
#sunemoji {
    display: flex;
    justify-content: right;
    margin-left: 8px;
    margin-top: 4px;
}
#sunemoji:hover {
cursor: pointer;
}