.inputForm {    
    top: 30vh;
    right: 5vh;
    margin-left: 4vh;
}

#messageBox {
   height: 10vh;
   width: 40vh;
   text-align: left;

}

#title {
    width: 40vh
}

#username {
    width: 40vh;
}

#submitButton {
    background-color: black;
    color: white;
    width: 40vh;
}

#submitButton:hover {
    
}